<!DOCTYPE html>
<html lang="en">
<%- include('_templateItems/head', {title: title }) %>
<body>
<div id="subMainPage">
    <%- include('_templateItems/body_header')%>
    <%- include(page)%>
    <%- include('_templateItems/body_footer')%>
</div>
</body>
</html>